---
import "@/styles/globals.css";
import Footer from "@/components/footer/Footer.jsx";

interface Props {
  title: string;
  description: string;
  language: string;
}

const { title, description, language } = Astro.props;
---

<!doctype html>
<html lang={language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
  <Footer client:visible />
</html>

<style>
  body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
      url("/src/assets/img/pinta_experimental_celeste_blanco.webp");
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
  }
</style>
